<div class="owl-carousel owl-events-2" id="owl-events-2">

    <figure class="owl-figure-item">
        <div class="owl-figure-item__wrap-img">
            <img src="images/news.png" alt="" class="owl-figure-item__img">
        </div>
        <figcaption class="owl-figure-item__figcaption">
            <h3 class="owl-figure-item__capt">Прошли республиканские соревнования “Победа”</h3>
            <p class="owl-figure-item__text">5 мая, в предверии старта регистрации, мы решили поддержать Республиканские соревнования по легкоатлетическому кроссу и эстафетному бегу "Победа" на призы газеты «СБ. Беларусь сегодня» и встретились с нашими будущими участниками.Мы приготовили интересные активации и совместно поддержали спортсменов. Около 350 спортсменов со всей страны соревновались в забегах по пересеченной местности и в комбинированных эстафетах 800-600-400-200 метров.</p>
            <p class="owl-figure-item__text">05.05.2019</p>
        </figcaption>
    </figure>

    <figure class="owl-figure-item">
        <div class="owl-figure-item__wrap-img">
            <img src="../../../images/event-1.png" alt="" class="owl-figure-item__img">
        </div>
        <figcaption class="owl-figure-item__figcaption">
            <h3 class="owl-figure-item__capt">Открытие регистрации марафона </h3>
            <p class="owl-figure-item__text">Открытие регистрации! Забег проводится по трем дистанциям: ✔4 км✔10 км ✔ 42, 195 км. Внимательно читайте условия участия и регистрируйтесь в соответствующих категориях. Ждем вас! </p>
            <p class="owl-figure-item__text">04.05.2019</p>
        </figcaption>
    </figure>

    <figure class="owl-figure-item">
        <div class="owl-figure-item__wrap-img">
            <img src="images/news.png" alt="" class="owl-figure-item__img">
        </div>
        <figcaption class="owl-figure-item__figcaption">
            <h3 class="owl-figure-item__capt">Открытие регистрации марафона </h3>
            <p class="owl-figure-item__text">Открытие регистрации! Забег проводится по трем дистанциям: <span class="owl-figure-item__span">✔</span>4 км<span class="owl-figure-item__span">✔</span>10 км <span class="owl-figure-item__span">✔</span> 42, 195 км. Внимательно читайте условия участия и регистрируйтесь в соответствующих категориях. Ждем вас! </p>
            <p class="owl-figure-item__text">04.05.2019</p>
        </figcaption>
    </figure>

    <figure class="owl-figure-item">
        <div class="owl-figure-item__wrap-img">
            <img src="images/news.png" alt="" class="owl-figure-item__img">
        </div>
        <figcaption class="owl-figure-item__figcaption">
            <h3 class="owl-figure-item__capt">Открытие регистрации марафона </h3>
            <p class="owl-figure-item__text">Открытие регистрации! Забег проводится по трем дистанциям: ✔4 км✔10 км ✔ 42, 195 км. Внимательно читайте условия участия и регистрируйтесь в соответствующих категориях. Ждем вас! </p>
            <p class="owl-figure-item__text">04.05.2019</p>
        </figcaption>
    </figure>

</div>