<div class="owl-carousel owl-events-3" id="owl-events-3">

    <figure class="owl-figure-item">
        <div class="owl-figure-item__wrap-img distantion" data-value="distention42">
            <img src="../../../images/42km.svg" alt="" class="owl-figure-item__img" data-value="distention42">
        </div>
        <figcaption class="owl-figure-item__figcaption">
            <details>
                <summary><h3 class="owl-figure-item__capt">Дистанция: 42 км 195м</h3></summary>
                <p class="owl-figure-item__text">Возрастные группы:
                    <br>Мужчины: 18-29, 30-39, 40-49,
                    <br>50-59, 60+ (м.б. 60-65, 65-70 и т.д.)
                    <br>Женщины: 18-29, 30-39, 40-49,
                    <br>50-59, 60+</p>
            </details>
              </figcaption>
    </figure>

    <figure class="owl-figure-item">
        <div class="owl-figure-item__wrap-img distantion" data-value="distention10">
            <img src="../../../images/10km.svg" alt="" class="owl-figure-item__img" data-value="distention10">
        </div>
        <figcaption class="owl-figure-item__figcaption">
            <details>
                <summary><h3 class="owl-figure-item__capt">Дистанция: 10 км</h3></summary>
                <p class="owl-figure-item__text">Возрастные группы:
                    <br>Мужчины: 16-19, 20-29, 30-39, 40-49,
                    <br>50-59, 60+
                    <br>Женщины: 16-19, 20-29, 30-39, 40-49,
                    <br>50-59, 60+</p>
            </details>
        </figcaption>
    </figure>

    <figure class="owl-figure-item">
        <div class="owl-figure-item__wrap-img distantion" data-value="distention4">
            <img src="../../../images/4km.svg" alt="" class="owl-figure-item__img" data-value="distention4">
        </div>
        <figcaption class="owl-figure-item__figcaption">
            <details>
                <summary><h3 class="owl-figure-item__capt">Дистанция: 4 км</h3></summary>
                <p class="owl-figure-item__text">Возрастные группы:
                    <br>Мужчины: 16-19, 20-29, 30-39, 40-49,
                    <br>50-59, 60+
                    <br>Женщины: 16-19, 20-29, 30-39, 40-49,
                    <br>50-59, 60+</p>
            </details>
        </figcaption>
    </figure>






</div>